{% extends 'layout.html.twig' %}

{% block content %}

    {% for post in data %}

        <div class="d-flex justify-content-center mb-3">
            <div class="card border-0" style="width: 40rem;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="rounded" style="height: 55px; width: 55px; object-fit: cover" src="https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/d/9/a/d9a1058910_50163142_elon-musk1.jpg">
                        <div class="d-flex flex-column justify-content-between m-2">
                            <h5 class="card-title">Elon Musk</h5>
                            <p class="m-0">stagiaire</p>
                        </div>
                    </div>

                    <div >
                        <span class="text-white bg-primary p-2 rounded me-2">
                            {# TODO: count likes and comments #}
                            comments <span class="badge bg-secondary">4</span>
                        </span>

                        <span class="text-white bg-primary p-2 ps-3 pe-3 rounded me-2 position-relative">
                            <ion-icon name="heart"></ion-icon>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">3</span>
                        </span>
                    </div>
                </div>


                {% if post['media_url'] is defined %}
                    <img src="{{  post['media_url'] }}" class="card-img-top" alt="...">
                {% endif %}

                <span class="text-muted ms-3">last update: {{ post['last_update_datetime'] }}</span>

                {% if post['documents'] is defined %}
                    {# TODO: loop on all documents #}
                {% endif %}

                <div class="card-body">
                    <p class="card-text">{{ post['body'] }}</p>
                </div>

                <span class="align-self-center pb-3 text-info" role="button" data-post-id="{{ post['id']}} ">show comments (4)</span>

                {# TODO: loop on all comments with class hidden toggle by JS #}
            </div>
        </div>

    {% endfor %}

{% endblock %}
