{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/game404.css">
{% endblock %}

{% block layout %}
        <div class="background"></div>
        <img class="bird" src="/assets/images/logo-s.png" alt="bird-img">
        <div class="message">
            Press Enter To Start Game
        </div>
        <div class="score">
            <span class="score_title"></span>
            <span class="score_val"></span>
        </div>
{% endblock %}

{% block javascript %}
<script src="/assets/js/game404.js"></script>
{% endblock %}
