{% extends 'base.html.twig' %}

{% block layout %}

    <div class="container-fluid">

        <div class="row">
            <div class="col bg-danger">
                {% block header %}{% endblock %}

            </div>
        </div>

        <div class="row">
            <div class="col col-2">
                {% block sidebarLeft %}{% endblock %}
            </div>

            <div class="col bg-secondary">
                {% block content %}{% endblock %}
            </div>

            <div class="col col-3 bg-warning">
                {% block sidebarRight %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
