:root {
    /*--bs-primary-rgb: 255, 82, 82;*/
    --bs-primary-rgb: 255, 107, 107;
    --bs-primary: rgb(var(--bs-primary-rgb));
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: #fa5252;
    border-color: #fa5252;
}

/* ICONS */

.icon-s {
    font-size: 16px;
}

.icon-m {
    font-size: 27px;
}

.icon-b {
    font-size: 35px;
}

.icon--link:hover {
    cursor: pointer;
}

/* FORMS */

.ed-form-control {
    transition: all 0.5s;
}

.ed-form-control:hover {
background-color: var(--bs-gray-200);
}

.ed-form-control label {
    cursor: pointer;
}

.btn-change{
    background: lightseagreen;
    float: left;
    box-shadow: 0 0 1px #ccc;
    border: 0px;
    color: #fff;
}
.btn-change:hover {
    -webkit-transform: scale(1.05);
    background: white;
}
.userProfilePicture {
    width: 10rem;
}
.asideLeftBar{
    color : black;
    text-decoration: none;
}

/* FOOTER */

.copyrightFooter{
    margin-top: 9rem;
}

/* NEWS */

.newspaper{
    height: 37rem;
    object-fit: cover;
    opacity: 80%;
}

.news-img-card{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

/* ARTICLE */

.article-img-card{
    height: 30rem;
    object-fit: cover;
    opacity: 80%;
}
