<div class="asideLeftBar m-3">
    <div class="text-body">
        <div class="p-3">
        <img class="userProfilePicture rounded" style="width: 10rem; height: 10rem; object-fit: cover" alt="{{ user_logged['firstname'] ~ ' ' ~ user_logged['lastname'] }} profile picture" src="{{ user_logged['image_url']}}">
        </div>
        <h3>{{ user_logged['firstname'] ~ ' ' ~ user_logged['lastname'] }}</h3>
        <div class="m-1 mb-5">
            <h6>{{ user_logged['position']}}</h6>
        </div>
        <ul class="nav flex-column gap-3">
            <li class="nav-item">
                <a class="nav-link active d-flex align-items-center gap-3 text-dark" aria-current="page" href="#"> <ion-icon class="icon-b" name="home"></ion-icon><span>Feed</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex align-items-center gap-3 text-dark" aria-current="page" href="#"> <ion-icon class="icon-b" name="mail"></ion-icon>Messages</a>
            </li>
            <div class="dropdown">
                <button class="btn dropdown-toggle d-flex align-items-center gap-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <ion-icon class="icon-b" name="people"></ion-icon>Groupes
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item text-dark" href="#">Groupe 1</a></li>
                    <li><a class="dropdown-item text-dark" href="#">Groupe 2</a></li>
                    <li><a class="dropdown-item text-dark" href="#">Groupe 3</a></li>
                </ul>
            </div>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-3 text-dark" href="#"> <ion-icon class="icon-b" name="newspaper"></ion-icon>News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-3 text-dark" href="#"><ion-icon class="icon-b" name="school"></ion-icon>E-learning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-3 text-dark" href="#"><ion-icon class="icon-b" name="bookmarks"></ion-icon>Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-3 text-dark" href="/logout"><ion-icon class="icon-b" name="log-out"></ion-icon>Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-3 text-dark" href="/feed/rss"><ion-icon class="icon-b" name="logo-rss"></ion-icon>rss</a>
            </li>
        </ul>
    </div>
</div>
