<footer class="copyrightFooter">
    <div class="edithoCopyright d-flex align-items-center justify-content-center gap-2">
        <img class="edithoBird" alt="EdithO bird" src="/assets/images/favicon.png">
        <p class class="gap-3">EdithO©</p>
    </div>
</footer>
