<div class="card border-0 m-3 p-3" style="width: 40rem;">
<form method="post" action="" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="body" class="form-label" hidden>Create a post</label>
        <textarea class="form-control" id="body" placeholder="create a post"></textarea>
    </div>
    <div class="mb-3" style="width: 15rem;">
        <label for="file" class="form-label">Image</label>
        <input type="file" class="form-control" id="file">
    </div>
    <div class="mb-3" style="width: 15rem;">
        <label for="file" class="form-label">Docs</label>
        <input type="file" class="form-control" id="file" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
</div>
