<div class="card border-0 m-3 p-3" style="width: 40rem;">
    <form method="post" action="/post/add" enctype="multipart/form-data">
        <div>
            <label for="body" class="form-label" hidden>Create a post</label>
            <textarea class="form-control ed-textarea" name='body' id="body" placeholder="create a post">{{ postBody }}</textarea>
        </div>
        <div class="d-flex align-items-start">
            <div class="ed-form-control m-3 p-2 ms-0 ps-0 rounded">
                <label for="media" class="d-flex align-items-center m-0"><ion-icon class='icon-m me-2' name="image-outline"></ion-icon>image</label>
                <input type="file" class="js-media form-control" name="media[]" id="media" hidden>
            </div>
            <div class="ed-form-control m-3 p-2 rounded">
                <label for="file" class="d-flex align-items-center m-0"><ion-icon class='icon-m me-2' name="document-attach-outline"></ion-icon>documents</label>
                <input type="file" class="form-control" name="files[]" id="file" multiple hidden>
            </div>
            <div class="ed-form-control ed-form-control--url m-3 p-2 rounded">
                <label for="url" class="d-flex align-items-center m-0"><ion-icon class='icon-m me-2' name="link-outline"></ion-icon>link</label>
                <input type="url" class="form-control" name="url" id="url" hidden>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>

        <div>
            {% for error in errors %}
                <p class="text-danger">&ast;{{ error }}</p>
            {% endfor %}
        </div>
    </form>

</div>
