<form method="post" action="" enctype="multipart/form-data" class="m-3">
    <div class="mb-3">
        <label for="body" class="form-label" hidden>Leave a comment</label>
        <textarea class="form-control" id="body" placeholder="leave a comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
