<nav class="navbar navbar-light bg-primary shadow sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/feed">
            <div class="d-flex align-items-center gap-3">
                <div class="rounded bg-light d-flex" style="width: 50px; height: 50px; padding: 10px;">
                <img src="/assets/images/favicon.png" alt="" width="100%" class="d-inline-block align-text-top">
            </div>
            <h1>Editho</h1>
            </div>
        </a>
        <form class="d-flex">
            <input class="form-control me-2 justify-self-center" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</nav>
