<div class="m-3">
<div class="text-center">
<h5>tricks and tips</h5>
</div>

{% for content in tricks %}
<div class="card" class="text-center"style="width: 18rem;">
    <div class="text-center">
    <h6 class="card-title">{{ content['title']}}</h6>
    </div>
    <img src="{{ content['media_url'] }}" class="card-img-top" alt="...">
    <div class="card-body">
        <p>{{ content['body']}}</p>
    </div>
</div>
{%endfor %}
</div>
