<div class="text-center mt-3">
<h5>tricks and tips</h5>
</div>

{% for content in tricks %}
    <div class="m-3">
        <div class="p-1">

        <div class="card" style="width: 18rem;">
            <div class="text-center">
            <h6 class="card-title p-2">{{ content['title']}}</h6>
            </div>
            <img src="{{ content['media_url'] }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p>{{ content['body']}}</p>
            </div>
        </div>
    </div>
    </div>
{%endfor %}
